body {
  font-family: Arial, sans-serif;
  background: #1a3636;
  color: #ebd5b9;
  margin: 20px;
  padding-top: 70px;
}

.explain {
  padding: 20px;
  margin-left: 400px;
  margin-right: 450px;
  background-color: #40534c;
  color: #ebd5b9;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
}

.descricao {
  border-radius: 5px;
  position: absolute;
  top: 200px;
  left: 1625px;
  background-color: #40534c;
  width: 550px;
  height: 150px;

}

.topo {
  position: absolute;
  top: -70px;
  left: 0;
  background-color: #ebd5b9;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  font-size: 80px;
  color:#1a3636;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desc {
  color: #ebd5b9;
  font-size: 17px;
}

.menu-inicial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  text-align: center;
}

.opcao {
  background: #ebd5b9;
  color: #1a3636;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.lista-livros {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.conteudo-livro {
  display: flex;         
  gap: 40px;          
  align-items: flex-start;
}

.capa {
  width: 330px;
  height: auto;
  border-radius: 5px;
}

.info {
  background: #677d6a;
  color: #ebd5b9;
  padding: 180px;
  border-radius: 5px;
}

.card {
  display: block;
  text-decoration: none;
  color: #ebd5b9;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  background: #677d6a;
  text-align: center;
}

.card img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.voltar {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #ebd5b9;
  background: #40534c;
  padding: 10px 15px;
  border-radius: 5px;
}